cmd/mess/mess
cmd/mess/mess.exe
cmd/mess/mess.crt
cmd/mess/mess.key
cmd/mess/mess.json
cmd/mess/node.key
cmd/mess/node.crt
cmd/mess/node.json

cmd/node/node
cmd/node/node.exe
cmd/node/mess.crt
cmd/node/node.crt
cmd/node/node.key
cmd/node/node.log
cmd/node/node.json
cmd/node/node.dev.json
cmd/node/log/
cmd/node/svc/
cmd/node/bus/
cmd/node/tmp/
